.body {
  width: 90%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF8E8;
  border-radius: 20px;
  width: 300px;
  height: 800px;
  padding: 0 20px;
  margin: 30px;
  border: 2px solid #674636;
}

.main {
  display: flex;
  background-color: #FFF8E8;
  border-radius: 20px;
  width: 700px;
  height: 800px;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img{
  width: 40px;
  height: 40px;
}


#search {
  background-image: url(../assets/img_source/돋보기.png);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px 20px;
  padding: 0 15px;
  font-size: 20px;
  width: 260px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid #674636;
}

#search:focus {
  background-image: none;
  padding: 0 15px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 300px;
  height: 70px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #FFF8E8;
  border: 0px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.btn:focus{
  background-color: #F7EED3;
}

.btn

.project {
  margin-top: 30px;
}

.etc {
  margin-top: 300px;
}

button#settings {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  
}

.btn:hover {
  background-color: #F7EED3;
}
