:root {
  --team-bg: #FFF8E8;
  --team-bg-muted: #F7EED3;
  --team-accent: #AAB396;
  --team-primary: #674636;
  --card: #F7EED3;

  --text: #1b0c02;
  --muted: #46372e;

  --danger: #dc2626;
  --outline: #674636;
  --shadow: 0 10px 25px rgba(0,0,0,0.3);

  --radius: 16px;
  --container: 1120px;
}

#profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#logo {
  width: 100px;
  border-radius: 2px;
  margin-top: -30px;
}

.nickname {
  margin-top: -30px;
}

/* === 프로젝트 리스트 페이지 === */

/* == 공지사항 == */
.notification {
  background: var(--team-bg);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* == 정렬 버튼 == */
.sort {
  padding: 10px;
  width: 100%;
}

/* 최신순 */
.recent {
  width: 100px;
  min-width: 100px;
  background-color: var(--card);
  border: 0px;
  padding: 5px;
  border-radius: var(--radius);
}

.recent:hover {
  background-color: var(--team-bg-muted);
  box-shadow: 0 0 0 2px #67463633;
}

/* 업데이트순 */
.update {
  width: 100px;
  min-width: 100px;
  background-color: var(--card);
  border: 0px;
  padding: 5px;
  border-radius: var(--radius);
}

.update:hover {
  background-color: var(--team-bg-muted);
  box-shadow: 0 0 0 2px #67463633;
}

/* == 프로젝트 카드 == */

.project-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.project-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: gray;
}

.project-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.project-body .updated {
  font-size: small;
  color: lightgray;
}

#status {
  background-color: white;
  border: none;
  border-radius: 50%;
  color: gray;
  width: 30px;
  height: 30px;
}

#status:hover {
  background-color: rgba(250, 250, 250, 0.8);
}

.author {
  padding: 3px 8px;
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: inline-block;
}

/* === 프로젝트 생성 페이지 === */

.big-title {
  margin: 0;
  font-size: 1.0rem;
  color: var(--team-primary);
  flex-shrink: 0;
}

.create-title  {
  width: 90%;
  background: white;
  padding: 10px 10px;
  overflow-y: auto;
  box-sizing: border-box;
  color: #333;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.create-content  {
  width: 90%;
  background: white;
  padding: 10px 10px;
  overflow-y: auto;
  box-sizing: border-box;
  color: #333;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

#text {
  width: 90%;
  padding: 10px;
  min-height: 40px;
  border: 1px solid var(--team-accent);
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden; /* 스크롤 제거 */
  line-height: 1.4;
}

.create-button {
  width: 90%;
  display: flex;
  justify-content: end;
  gap: 10px;
}
